* {
    background-color: #0e1630;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#hello {
    font-family: "Quicksand", sans-serif !important;
    width: 30vw; /* Adjust the width as needed */
    font-size: 30px;
    display: flex;
    flex-direction: row; /* Change to row to keep elements in one line */
    align-items: left; /* Center items vertically */
    justify-content: flex-start;
    color: aquamarine;
  }

  #hello-hr {
   padding-top: 2px;
    width: 2vw;
    border-radius: 15%;
    font-weight: 700;
    color: aquamarine;
  }


.text {
    font-family: "Quicksand", sans-serif !important;
    font-size: 1vw;
    float: left;
    width: 70%;
    padding-left: 7%;
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e4e5e7;
}

.socials {
    display: flex;
    flex-direction: row; 
    margin: auto;
}

.socials div {
    display: flex;
    gap: 5px;
}


.circle {
    float: right;
    width: 30%; 
    margin-right: 5%;
}

#name {
    font-size: 2vw; 
    font-weight: 250;
    letter-spacing: 0.1rem;
    margin: auto;
    padding-top: 18px;
    width: 100%;
    padding-left: 21%;
}

@media (max-width: 900px) {
    #name {
        width: 90%; /* Adjust the width for smaller screens */
        padding-left: 0; /* Remove padding for smaller screens */
    }
}

.title {
    color: #c7666c;
    font-size: 2vw; /* Adjust the font size using viewport width */
    margin-top: 0;
}

.description {
    font-size: 1.5vw; /* Adjust the font size using viewport width */
}

hr {
    width: 10vw; /* Adjust the width using viewport width */
    text-align: left;
    margin: 1.5vh 1vw 1vh 1vw; /* Adjust the margin using viewport units */
    height: 2px;
    border-width: 0;
    background-color: #e4e5e7;
}

.socialicon {
    display: flex;
    flex-direction: row;
    fill: none;
    stroke: aquamarine;
    margin: 1vw; /* Adjust the margin using viewport units */
    width: 2vw; /* Adjust the width using viewport width */
    height: 2vw; /* Adjust the height using viewport width */
    transition: transform 0.2s;
}

.socialicon:hover {
    transform: translateY(-3px);
    stroke: #7dcbd8;
}

.socials a {
    color: black;
    padding: 0 1vw; /* Adjust the padding using viewport units */
}

.socials a:hover {
    transform: translateY(-3px);
}

.fill {
    fill: #b2d5e0;
}

img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    padding: 2vw; /* Adjust the padding using viewport units */
    z-index: 405;
}

@media (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 90vw;
    }

    .socials {
        margin-top: 2vh;
        padding-bottom: 5vh;
    }

    .hr {
        width: 8vw;
        margin: 1.5vh 1vw 1vh 1vw;
    }

    .circle {
        width: 80vw;
        padding: 20vw 0;
        margin: auto;
    }

    #name,
    .title,
    .description {
        font-size: 5vw;
    }

    .socialicon {
        margin: 1vw;
        width: 4vw;
        height: 4vw;
    }

    img {
        padding: 5vw;
    }
}
